:root{
  --mainBlue: #f01515;
  --lightBlue: #05141d;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #b3ff00;
}



body{
  font-family:'Metal Mania', cursive!important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important
}

.text-title{  font-family: 'New Rocker', cursive;
}

.guitar-logo{
  color: var(--lightBlue);
  transition: all 1s
}

.guitar-logo:hover{
  text-decoration: none;
  color: var(--mainYellow)
}

.text-blue{
  color: var(--mainBlue)
}

.text-bright{
  color: var(--lightBlue);
}

.btn-black{
  cursor: pointer;
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8em !important;
  color: var(--mainDark);
  border-radius: 5px !important;
  border: 0.1em solid var(--mainDark) !important
}

.margin-top{
  margin-top: 2rem;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2em;
  color: var(--mainYellow);
}
.rotateimg180 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}